<app-header></app-header>
<section class="bg-light p-3">
	<div class="container">
		<div class="text-center mb-5">
			<p class="display-4 m-0">About</p>
			<p class="lead text-muted">Lorem ipsum dolor sit amet consectetur.</p>
		</div>
		<ul class="timeline">
			<li>
				<div class="timeline-image">
					<img class="rounded-circle img-fluid" src="assets/img/about/1.jpg" alt="">
				</div>
				<div class="timeline-panel">
					<div class="timeline-heading">
						<p class="lead m-0">2009-2011</p>
						<h4><strong>Our Humble Beginnings</strong></h4>
					</div>
					<div class="timeline-body">
						<p class="text-muted text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
					</div>
				</div>
			</li>
			<li class="timeline-inverted">
				<div class="timeline-image">
					<img class="rounded-circle img-fluid" src="assets/img/about/2.jpg" alt="">
				</div>
				<div class="timeline-panel">
					<div class="timeline-heading">
						<p class="lead m-0">March 2011</p>
						<h4><strong>An Agency is Born</strong></h4>
					</div>
					<div class="timeline-body">
						<p class="text-muted text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
					</div>
				</div>
			</li>
			<li>
				<div class="timeline-image">
					<img class="rounded-circle img-fluid" src="assets/img/about/3.jpg" alt="">
				</div>
				<div class="timeline-panel">
					<div class="timeline-heading">
						<p class="lead m-0">December 2012</p>
						<h4><strong>Transition to Full Service</strong></h4>
					</div>
					<div class="timeline-body">
						<p class="text-muted text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
					</div>
				</div>
			</li>
			<li class="timeline-inverted">
				<div class="timeline-image">
					<img class="rounded-circle img-fluid" src="assets/img/about/4.jpg" alt="">
				</div>
				<div class="timeline-panel">
					<div class="timeline-heading">
						<p class="lead m-0">July 2014</p>
						<h4><strong>Phase Two Expansion</strong></h4>
					</div>
					<div class="timeline-body">
						<p class="text-muted text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
					</div>
				</div>
			</li>
			<li class="timeline-inverted">
				<div class="timeline-image">
					<h4>Be Part <br>Of Our <br>Story!</h4>
				</div>
			</li>
		</ul>
	</div>
</section>
<app-footer></app-footer>