<footer class="container-fluid bg-light text-center section-bg" id="footer" *ngIf="app">
	<div class="row container-footer">
		<div class="col-sm-8">
			<h3 class="lead" style="color: #616161;">SOCIAL</h3>
			<hr/>
			<a target="_blank" class="btn btn-outline-dark"><i class="fa fa-facebook"></i></a>
			<a target="_blank" class="btn btn-outline-dark"><i class="fa fa-twitter"></i></a>
			<a target="_blank" class="btn btn-outline-dark"><i class="fa fa-rss"></i></a>
			<a target="_blank" class="btn btn-outline-dark"><i class="fa fa-youtube"></i></a>
		</div>
		<div class="col-sm-4">
			<h3 class="lead" style="color: #616161;">HELP & INFORMATION</h3>
			<hr/>
			<ul class="footer-col">
				<li>
					<a href="#">Contact Number</a>
				</li>
				<li>
					<a href="#">Contact Form</a>
				</li>
				<li>
					<a href="#">Common Questions</a>
				</li>
				<li>
					<a href="#">Privacy Polciy</a>
				</li>
				<li>
					<a href="#">Latest News</a>
				</li>
			</ul>
		</div>
	</div>
</footer>