.bg-color {
    background: #F5F9FC;
}
.trapezoid {
    border-bottom: 38px solid #18488B;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    height: 42px;
    width: 200px;
    opacity: 17px;
    transform: rotate(180deg);
}
.outer-box {
    transform: rotate(180deg) !important;
    text-align: center;
    height: 38px;
}
.p-history {
    color: #fff;
    font-size: 15px;
    font-weight: 700;
}
